@mixin transition($interval) {
    transition: all $interval linear;
}

.player-container {
    margin: 0;
    display: flex;
}

.anime-switch-scene {
    transition: all 0.2s linear;
}

.playerContainerNormal {
    @extend .anime-switch-scene;
    @extend .player-container;

    @include transition(0.2s);

    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    max-height: 95vh;
    max-width: calc(95vh * 16 / 9);
    margin: auto; // Add this line to center the element within its parent
}

.playerContainerFullscreen {
    >video {
        flex: content;
        max-width: 100%;
        max-height: 100%;
    }

    @extend .anime-switch-scene;
    @extend .player-container;

    @include transition(0.2s);

    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    margin: auto; // Add this line to center the element within its parent
    left: 0;
    top: 0;
    position: absolute;
    background-color: gray;
}